.menu_on_hover {
  position: fixed;
  background: #FFFFFF;
  opacity: 0.96;
  box-shadow: 0px 48px 48px rgba(0, 0, 0, 0.1);
  border: 1px #DEE2E6 solid;
  width: -webkit-fill-available;
  margin-top: 75px;
  display: none;
  z-index: 9999;
}

.menu_on_hover .container .row {
  padding: 20px 20px 20px 0;
}

.menu_on_hover .container .row .col-5 ul li {
  display: flex;
  align-items: center;
}

.menu_on_hover .container .row .col-5 ul li img {
  width: 8px;
  margin-right: 20px;
}

.menu_on_hover .container .row .col-5 ul li a {
  font-family: Gilroy-Regular;
  font-size: 16px;
  line-height: 28px;
  color: #212529;
  padding: 10px 0 10px 0px;
}

/* menu_2 */
.menu_on_hover2 {
  position: fixed;
  background: #19191E;
  opacity: 0.96;
  box-shadow: 0px 48px 48px rgba(0, 0, 0, 0.1);
  border: 1px #212529 solid;
  width: -webkit-fill-available;
  margin-top: 75px;
  display: none;
  z-index: 9999;
}

.menu_on_hover2 .container .row {
  padding: 20px 20px 20px 0;
}

.menu_on_hover2 .container .row .col-5 ul li {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.menu_on_hover2 .container .row .col-5 ul li img {
  width: 8px;
  margin-right: 20px;
}

.menu_on_hover2 .container .row .col-5 ul li a {
  font-family: Gilroy-Regular;
  font-size: 16px;
  line-height: 28px;
  color: #DEE2E6;
  padding: 10px 0 10px 0px;
}