header.header-top2 {
    position: fixed;
    z-index: 1001;
    background: #19191E;
    opacity: 0.96;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    /* left: 0; */
    width: 100%;
    transition: 0.4s all;
    padding: 20px 0;
}
header.header-top2.up-menu {
    /* top: -66px; */
    transform: translateY(-75px);
    -moz-transform: translateY(-75px);
    -webkit-transform: translateY(-75px);
    -o-transform: translateY(-75px);
    -ms-transform: translateY(-75px);
}

header.header-top2.fixed {
    background:#212529;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 5%);
}
.logo {
    width: 82.64px;
    height: 32px;
}

.nav-lists {
    display: flex;
    align-items: center;
}
.nav-lists li:first-child {
    padding-left: 0px;
}
.header-top2 .nav-lists li {
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 24px;
    color:#F1F3F5;
    padding: 5px 20px;
    font-weight: 600;
}
 .col-2:last-child {
    display: flex;
    justify-content: flex-end;
}
.header-top2 .language {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 5px 0;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

.header-top2 .search {
    color: #FFFFFF;
}
.sort-down {
    padding-left: 5px;
    padding-right: 25px;
}
.header-top2.sort-down i {
    position: absolute;
    top: 7px;
  
}
.header-top2.language .search {
    align-items: center;
    display: flex;

}
/* ------------HERO----------- */

#hero{
    background-image: url('../images/server/img-header.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}

.hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
}
.hero h2 {
    font-family: 'Gilroy-Black';
    display: block;
    padding-top:216px;
    top:216px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.hero span {
    color : #353590;
}
.hero p {
    padding-top:20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
/* SUBMENU */
#submenu {
    position: relative;
    height: 64px;
}
#submenu .container {
    padding:20px;
}
.submenu-slider {
    display: flex;
    justify-content: space-between;
    
}
.submenu-slider a {
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 24px;
    color: #343A40;

}
#submenu .overlay {
    position: absolute;
    width: 184px;
    height: 63px;
    top:0px;
    right: 200px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 61.46%, #FFFFFF 100%);
}
/* #submenu img {
    position: absolute;
    width: 45px;
    height: 45px;
    top:-10px;
    right:190px;
} */

#submenu .slick-next {
    background-image: url(../images/server/32px.svg) ; 
    border-radius: 20px;
    position: absolute;
    width: 45px;
    height: 45px;
    top:5px;
    right:0px;
    z-index: 999;
    /* display: none; */
}
#submenu .slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    display: none !important;
}
/* About */
#about{
    padding: 80px 103px;
    margin: auto;
}
.about-top h3 {
    font-family: 'Gilroy-Black';
    font-size: 36px;
    width: 481px;
    line-height: 48px;
    
}
.about-top span{
    color: #353590;
}
.about-bottom  .col-6 {
    padding-top : 40px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
/* mobile-apps */
#mobile-apps{
    padding: 0 103px;
    position: relative;
}

.MB h2{
    position: absolute;
    top: 0;
    font-family: 'Gilroy-Black';
    font-size: 96px;
    line-height: 128px;
    text-transform: capitalize;
    color:#F1F3F5;

}
.MB h3{
    position: absolute;
    top : 40px;
    font-family: 'Gilroy-Black';
    font-size: 36px;
    line-height: 48px;
    text-transform: capitalize;
    color: #212529;
}
.content{
    padding-top: 168px;
}
/* .content-left {
    transform: translate(-15px);
} */
#mobile-apps .content-left h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}

/* .content-right {
    transform: translate(15px);
} */
#mobile-apps .content-right h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
#mobile-apps .content-right p {    
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    padding-bottom: 40px;
}
.content-right span {
     color: #353590;
}

/* PRODUCT CONSULTANTCY */
.product-consultantcy{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;
}
.product-consultantcy  .content-right  h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    color: #212529;
}

.product-consultantcy .content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.product-consultantcy .content-left  h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.product-consultantcy .content-left p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.product-consultantcy .content-left span {
    color: #353590;  
}
.product-consultantcy .more {
    padding-top: 40px;
}
/* đeicated -team */
.dedicated-team{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;
}
.dedicated-team  .content-right  h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    color: #212529;
}

.dedicated-team .content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.dedicated-team .content-left  h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.dedicated-team .content-left p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.dedicated-team .content-left span {
    color: #353590;
    
}
.dedicated-team .more {
    padding-top: 40px;
}
/* MOM */
.MOM{
        margin-top: 160px;
        padding: 0 103px;
        position: relative;
    
}
.MOM .content-left h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.MOM .content-right h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.MOM .content-right p {    
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    padding-bottom: 40px;
}
/* LSM */

.LSM{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;

}
.LSM .content-left h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.LSM .content-right h3{
padding-top:32px;
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 32px;
color: #212529;
}
.LSM .content-right p {    
font-family: 'Gilroy-Medium';
font-size: 16px;
line-height: 28px;
color: #495057;
padding-bottom: 40px;
}
/* ECSD */
.ECSD{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;
}
.ECSD  .content-right  h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    color: #212529;
}

.ECSD .content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.ECSD .content-left  h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.ECSD .content-left p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.ECSD .content-left span {
    color: #353590;  
}
.ECSD .more {
    padding-top: 40px;
}
/* testing server */
.testing-serve{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;
}
.testing-serve  .content-right  h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    color: #212529;
}

.testing-serve .content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.testing-serve .content-left  h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.testing-serve .content-left p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.testing-serve .content-left span {
    color: #353590;  
}
.testing-serve .more {
    padding-top: 40px;
}
/* --------------------- */
.online-pj{
    background-color:  #F8F9FA;
    
}
.e-learning{
    margin-top: 80px;
    padding: 0 103px;
    position: relative;

}
.e-learning .content-left h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.e-learning .content-right h3{
padding-top:32px;
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 32px;
color: #212529;
}
.e-learning .content-right p {    
font-family: 'Gilroy-Medium';
font-size: 16px;
line-height: 28px;
color: #495057;
padding-bottom: 40px;
}
/* E-Office. */
.e-office{
    margin-top: 160px;
    padding: 0 103px;
    position: relative;
}
.e-office  .content-right  h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    color: #212529;
}

.e-office .content p {
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.e-office .content-left  h3{
    padding-top:32px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.e-office .content-left p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.e-office .content-left span {
    color: #353590;  
}
.e-office .more {
    padding-top: 40px;
}
/* outher product */
.other-product{
    margin-top: 80px;
    padding: 0 103px;
    position: relative;

}
.other-product .content-left h3 {
    width: 379px;
    font-family: 'Gilroy-Bold';
    padding-left:-15px;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.other-product .content-right h3{
padding-top:32px;
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 32px;
color: #212529;
}
.other-product .content-right p {    
font-family: 'Gilroy-Medium';
font-size: 16px;
line-height: 28px;
color: #495057;
padding-bottom: 40px;
}
.other-product .more {
    margin-bottom: 80px;
}
/* partners */
.partners{
    padding: 80px 57px;
}
.partners p {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #8989DD;
}
.partners h2{
    padding-top: 20px;
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}
.partners-list{
    padding-top: 40px;
    
}
.partners-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/* img */
.image {
    background-image: url(/assets/images/server/img_contact.png);
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height: 400px;
}

.image::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(50% 50% at 50% 50%, rgba(53, 53, 144, 0.53) 0%, #070743 100%);
	z-index: -1;
}
.image {
    padding :80px 0;
}
.image h3 {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.image p{
    font-family: 'Gilroy-Regular';
    width: 584px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 40px auto;
    color: #DEE2E6;
}
.contact-buton{
    padding-left: 45%;
    padding-top:18px;
}
.image a{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #353590;
    padding: 12px 32px;
    background: #FFFFFF;
    border-radius: 28px;

}
.more .bx-plus {
    color: var(--color-1th);
}

/* -------------5 orther page of services  */

#hero-dt{
    background-image: url('../images/server/hero_dt.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero-dt::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}
/* ------ */
#hero-maintenance {
    background-image: url('../images/server/hero_maintain.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero-maintenance::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}
/* ----- */
#hero-lagacy {
    background-image: url('../images/server/hero_legacy.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero-lagacy::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}
/* --------- */
#hero-entersprise {
    background-image: url('../images/server/hero_enterprise.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero-entersprise::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}
/* ----------- */
#hero-testing {
    background-image: url('../images/server/hero_testing.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero-testing::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}