#hero2{
    background-image: url('../images/service-detail/mobil_app.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:500px;
}
#hero2::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}

.hero2 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
}
.hero2 h2 {
    font-family: 'Gilroy-Black';
    display: block;
    padding-top:216px;
    top:216px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.hero2 span {
    color : #353590;
}
.hero2 p {
    padding-top:20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
/* ------------- about ------------ */
#about{
    padding: 80px 103px;
    margin: auto;
}
.about-top h3 {
    font-family: 'Gilroy-Black';
    width: 481px;
    font-size: 36px;
    line-height: 48px;
    color: #212529;
    
}
.about-top span{
    color: #353590;
}
.about-bottom  .col-6 {
    padding-top : 40px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
/* ---------------mobile service ----------- */
#mobile-services {
    margin: 120px 0;
}
#mobile-services h3 {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
#mobile-services p {
    padding-top : 20px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.services-lists {
    padding-top: 80px;
    text-align: center;

}
.list-box-icon {
    width: 64px;
    height: 64px;
}
.list-box-title {
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #212529;
    padding-top: 20px;
    
}
.row-space{
    padding-top: 80px;
}
/* ----------mobile-process------------ */

#mobile-process {

}
.procress-title {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
}
.process-desc {
    padding-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.process-img {
    padding-top: 80px;
    padding-bottom: 40px;
}
/* case study  */
#case-study {
    background-color: #F8F9FA;
}
.row-top {
    padding-top: 80px;
}
.row-bottom {
    padding-top: 92px;
    padding-bottom: 80px;
}
.case-study-1 h2 {
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 48px;
    color: #6363BC;
    width: 354px;
}
.case-study-1 ul {
    display: flex;
    padding-top: 20px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #868E96;
}
.case-study-1 li {
     padding-right: 20px;
     
}
.case-study-1 p {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    padding-top: 30px;
}
.case-study-2 h2 {
    font-family: Gilroy-Bold;
    font-size: 36px;
    width: 354px;
    line-height: 48px;
    color: #212529;
}
.case-study-2 ul {
    display: flex;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #868E96;
    padding-top:20px;
}
.case-study-2 li {
    padding-right: 20px;
}
.case-study-2 p {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    padding-top:30px;
}
/* ------why choose me */
#why-choose-tvo {
    padding: 120px 0;
}
.why-left h3 {
    font-family: Gilroy-Black;
    width: 481px;
    font-size: 36px;
    line-height: 48px;
    color: #212529;
}
.why-left p {
    padding-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
}
.why-left span {
    color: var(--color-1st);
}
#why-choose-tvo img {
    width: 370px;
    height: 370px;
    /* padding-left: 100px; */
    padding: 0 auto;
    margin-left: 150px;
    
    
}
#why-choose-tvo .more {
    padding-top:60px;
    
}

.product-us{
    background-image: url(/assets/images/service-detail/product_us.png);
}