:root {
    --color-1st: #353590;
    --color-2nd: #6363BC;
    --color-3rd: #8989DD;
    --color-4th: #B6B6F3;
    --color-5th: #D9D9F9;
}

@import './serve.css';
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: "Gilroy-Black";
    src: url('../fonts/Gilroy-Black.ttf');
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url('../fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
    height: 100%;
}

/* .container{
        max-width: 2040px;
        padding: 0 120px;
        margin: auto;
} */

.social {
    left: 0;
    z-index: 9999;
    position: fixed;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    font-family: Gilroy-Regular;
    margin: 5px;
    color: black;
    padding-right: 10px;
    width: 310px;
    text-align: right;
    background: #353590;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
}

.social ul li:hover a {
    text-decoration: none;
}

.social ul #fb:hover {
    background: #2596be;
}

.social ul #link:hover {
    background: #0077b5;
}

.social ul #twitter:hover {
    background: #28a9e0;
}

.social ul li:hover a {
    color: #fff;
}

.social ul li:hover i {
    color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    padding: 20px 20px 20px 10px;
    color: #000;
    width: 10px;
    color: #FFFFFF;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.join-us {
    position: fixed;
    right: 0;
}

.section_1 {
    position: relative;
}

.section_1 .we_are_special {
    padding: 100px 0;
}

.count-number::after {
    content: '+';
}

.section_1 .we_are_special h1 {
    /* position: absolute; */
    font-family: 'Gilroy-SemiBold';
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353590;
}

.section_1 .we_are_special p {
    font-family: 'Gilroy-Black';
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
    text-transform: capitalize;
    color: #212529;
    padding-bottom: 60px;
}

.section_1 .we_are_special a {
    padding: 12px 32px;
    position: absolute;
    background: #353590;
    border-radius: 28px;
    text-align: center;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF!important;
}

.section_1 .tech {
    position: absolute;
    z-index: -1;
}

.sevices_product {
    background-image: url("../images/section_2/service_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.sevices_product .what_we_do, .section_about .what_we_are, .section_study .case_study, .section_work_with .work_with_us {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-3rd);
}

.sevices_product h3, .section_study h3 {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 80px;
}

.section_about {
    padding: 80px 0 0 0;
}

.section_about .what_we_are {
    padding-bottom: 20px;
}

.section_about .desc {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #040312;
    padding-bottom: 80px;
}

.section_about .img_laptop {
    padding-top: 50px;
    height: 100%;
}

.section_about .btn_know_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_study {
    background-image: url("../images/section_3/person.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.section_study h3 {
    padding-bottom: 120px;
}

.section_study .study {
    position: relative;
    overflow: hidden;
}

.study-cover {
    background-size: cover;
    position: relative;
}

.study-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.study-content>span {
    display: block;
    margin-top: 80px;
    text-align: center;
    color: var(--color-3rd);
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.study-content>h3 {
    width: 322px;
    height: 96px;
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto
}

.section_study .study-box {
    transition: transform 0.45s ease-in-out;
}

.study-box:hover {
    transform: translateY(-80px);
}

.study-box-title {
    padding-top: 20px;
    cursor: pointer;
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.study_info .category {
    color: #fff;
    display: flex;
    font-family: 'Gilroy-Regular';
    padding: 20px 0;
}

.study_info .category li {
    padding-right: 10px;
}

.study_info .desc {
    color: #fff;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 28px;
}

.study_info>span {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    line-height: 24px;
    color: var(--color-4th);
}

.study_info .dot {
    width: 3px;
    height: 3px;
    color: #FFFFFF;
    margin: 0 10px;
    padding-bottom: 5px;
}

.section_study .study-more {
    text-align: center;
    margin-top: 50px;
}

.study-more .btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    border: none;
    background: transparent;
}

.study-more .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: #FFFFFF; */
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.study-more .btn:hover::before {
    /* background: black; */
    width: 100%;
}

.study-more .btn.rounded {
    border-radius: 50%;
}

.study-more .btn.rounded .text-green {
    color: #FFFFFF;
    /* mix-blend-mode: difference; */
}

.study-more .btn.rounded::before {
    border-radius: 50px;
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
}

.study-more .btn.rounded:hover::before {
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
    ;
    width: 100%;
}

/* end study section  */

/* section work */

.work-header {
    text-align: center;
}

.work-header span {
    padding-top: 80px;
    display: block;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-1st);
}

.section_work_with {
    padding: 80px 0;
}

.section_work_with .work-title {
    padding-top: 20px;
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
}

.section_work_with .work-des {
    margin-top: 40px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #343A40;
}

.section_work_with .work-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.section_work_with .work-list .work-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section_work_with .work-list .content.box-shadow {
    width: 60%;
    margin: 0 auto;
}

.work-box-img {
    width: 72px;
    height: 72px;
}

.section_work_with .work-list .work-box-title {
    padding: 20px 0 10px 0;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(53, 53, 144, 0.1);
}

.section_work_with .work-more {
    text-align: center;
    margin-top: 100px;
}

.section_we_serve_you {
    background-image: url("../images/section_5/laptop_serve.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    background-position: center;
}

.section_we_serve_you .title, .section_project_mind .title {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--color-3rd)
}

.section_we_serve_you .desc, .section_project_mind .desc {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.section_we_serve_you .info, .section_project_mind .info {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #DEE2E6;
    margin: 40px auto;
}

.work-more .btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    border: none;
    background: transparent;
}

.work-more .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: #FFFFFF; */
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.work-more .btn:hover::before {
    /* background: black; */
    width: 100%;
}

.work-more .btn.rounded {
    border-radius: 50%;
}

.study-more .btn.rounded .text-green {
    color: #FFFFFF;
    /* mix-blend-mode: difference; */
}

.work-more .btn.rounded::before {
    border-radius: 50px;
    background: var(--color-4th);
}

.work-more .btn.rounded:hover::before {
    background: var(--color-4th);
    width: 100%;
}

.section_we_serve_you .serve-more {
    text-align: center;
    margin-top: 100px;
}

.section_we_serve_you .serve-more .btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    border: none;
    background: transparent;
}

.serve-more .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: #FFFFFF; */
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.serve-more .btn:hover::before {
    /* background: black; */
    width: 100%;
}

.serve-more .btn.rounded {
    border-radius: 50%;
}

.serve-more .btn.rounded .text-green {
    color: #FFFFFF;
    /* mix-blend-mode: difference; */
}

.serve-more .btn.rounded::before {
    border-radius: 50px;
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
}

.serve-more .btn.rounded:hover::before {
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
    ;
    width: 100%;
}

.section_new_room {
    padding: 80px 0;
}

.section_new_room .title {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-1st)
}

.section_new_room .desc {
    padding-top: 20px;
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}

.section_new_room .list {
    padding: 100px 0;
}

.section_new_room .room-box .room-box-img {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.section_new_room .room-box .room-box-img img {
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.room-box-img:hover img, .room-box-img:focus img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.section_new_room .room-box-title {
    padding-top: 15px;
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #212529;
}

.section_new_room .room-more {
    text-align: center;
}

.section_project_mind {
    background: url("/assets/images/tech_screen/bgmid2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    background-position: center;
}

.room-more .btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    border: none;
    background: transparent;
}

.room-more .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: #FFFFFF; */
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.room-more .btn:hover::before {
    /* background: black; */
    width: 100%;
}

.room-more .btn.rounded {
    border-radius: 50%;
}

.room-more .btn.rounded .text-green {
    color: var(--color-1st);
    /* mix-blend-mode: difference; */
}

.room-more .btn.rounded::before {
    border-radius: 50px;
    ;
    background: var(--color-4th);
}

.room-more .btn.rounded:hover::before {
    background: var(--color-4th);
    width: 100%;
}

/* end room section  */

.project {
    position: relative;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(101.77% 844.13% at 101.77% 2.3%, rgba(53, 53, 144, 0.8) 0%, #070743 100%);
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-content span {
    padding-top: 80px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Gilroy-SemiBold';
    color: var(--color-3rd);
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.project-content h2 {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    padding-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.project-content p {
    width: 584px;
    height: 84px;
    font-family: 'Gilroy-Regular';
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 40px auto;
    font-size: 16px;
    line-height: 28px;
    color: #DEE2E6;
}

.section_project_mind .info {
    margin: 40px 0 80px 0;
}

.section_project_mind .project-more {
    text-align: center;
}

.section_project_mind .project-more .btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    border: none;
    background: transparent;
}

.serve-more .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    /* background: #FFFFFF; */
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.project-more .btn:hover::before {
    /* background: black; */
    width: 100%;
}

.project-more .btn.rounded {
    border-radius: 50%;
}

.project-more .btn.rounded .text-green {
    color: #FFFFFF;
    /* mix-blend-mode: difference; */
}

.project-more .btn.rounded::before {
    border-radius: 50px;
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
}

.project-more .btn.rounded:hover::before {
    background: linear-gradient(206.57deg, #EDEDFC 16.67%, rgba(53, 53, 144, 0) 100%);
    ;
    width: 100%;
}

/* end project section */

.footer-content h2 {
    padding-top: 80px;
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}

.footer-content p {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #343A40;
    margin: 20px auto;
}

.info-box {
    margin: 80px auto;
}

.info-box .info-title {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}

.info-box .info-desc li {
    width: 207px;
    padding-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}

.copyright {
    border-top: 1px solid #E9ECEF;
}

.info-desc {
    font-size: 14px;
    line-height: 24px;
    color: #212529;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.quick-link {
    padding-left: 15px;
}

.info-desc button {
    width: 115px;
    height: 28px;
    left: 1168px;
    top: 6766px;
    background: linear-gradient(180deg, #6363BC 0%, #8989DD 100%);
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
}

.icon {
    padding: 20px 10px 0 0px;
    display: flex;
}

.icon p {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: #212529;
    padding-right: 10px;
}

.left {
    margin: 20px 0;
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    line-height: 16px;
    color: #343A40;
}

.right {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #212529;
}

/* -------------- */

header.header-top {
    position: fixed;
    z-index: 1001;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    /* left: 0; */
    width: 100%;
    transition: 0.4s all;
    padding: 20px 0;
}

header.header-top.up-menu {
    /* top: -66px; */
    transform: translateY(-75px);
    -moz-transform: translateY(-75px);
    -webkit-transform: translateY(-75px);
    -o-transform: translateY(-75px);
    -ms-transform: translateY(-75px);
}

header.header-top.fixed {
    background: #fff;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 5%);
}

.logo {
    width: 82.64px;
    height: 32px;
}

.nav-lists {
    display: flex;
    align-items: center;
}

.nav-lists li:first-child {
    padding-left: 0px;
}

.nav-lists li {
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 24px;
    color: #212529;
    padding: 5px 20px;
    font-weight: 600;
}

header .col-2:last-child {
    display: flex;
    justify-content: flex-end;
}

.language {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    color: #212529;
    padding: 5px 0;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

.sort-down {
    padding-left: 5px;
    padding-right: 25px;
}

.sort-down i {
    position: absolute;
    top: 7px;
}

.language .search {
    align-items: center;
    display: flex;
}

/* end header  */

.section_we_are_special {
    padding: 50px 0;
}

.Circles {
    position: absolute;
    top: 0px;
    right: 0px;
}

.Ellipse-8 {
    position: absolute;
    right: 166px;
    top: 122px;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    background: linear-gradient(135deg, #353590 0%, #CC5DE8 100%)
}

.Asset-1 {
    position: absolute;
    top: 250px;
    right: 140px;
}

.Asset-2 {
    position: absolute;
    top: 378px;
    right: 551px;
}

.Asset-3 {
    position: absolute;
    top: 424px;
    right: 200px;
}

.Ellipse-14 {
    position: absolute;
    width: 96px;
    height: 96px;
    right: 777px;
    top: 171px;
    background: #8989DD;
    border-radius: 50px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
}

.code-1 {
    position: absolute;
    top: 195px;
    right: 800px;
}

.Ellipse-15 {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 151px;
    top: 160px;
    background: #F9D5D3;
    border-radius: 40px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
    padding-top: 16px;
    text-align: center;
    color: #DF7786;
}

.Ellipse-16 {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 108px;
    top: 655px;
    background: #DDF9D0;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
}

.Ellipse-17 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 76px;
    top: 535px;
    border-radius: 10px;
    text-align: center;
    font-size: 8px;
    line-height: 8px;
    color: #AF55D7;
    padding-top: 7px;
    background: #F6E6FF;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
}

.Ellipse-18 {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 562px;
    top: 722px;
    border-radius: 20px;
    padding-top: 10px;
    text-align: center;
    background: #FAECCA;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
}

.Ellipse-19 {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 752px;
    top: 194px;
    background: #D9D9F9;
    border-radius: 12px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
}

.fb {
    width: 48px;
    height: 48px;
    background: #353590;
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-bottom: 3px;
}

.in {
    width: 48px;
    height: 48px;
    padding-top: 17px;
    color: #FFFFFF;
    text-align: center;
    background: #353590;
    cursor: pointer;
    margin-bottom: 3px;
}

.tw {
    width: 48px;
    height: 48px;
    padding-top: 19px;
    color: #FFFFFF;
    text-align: center;
    background: #353590;
    cursor: pointer;
}
.social_talk {
    position: fixed;
    top: 30%;
    height: 200px;
    display: flex;
    align-items: center;
}

.talk {
    font-family: 'Gilroy-SemiBold';
    right: -38px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate( -90deg);
    font-size: 14px;
    line-height: 24px;
    padding-top: 12px;
    background: #353590;
    z-index: 9999;
    padding: 15px 40px;
}

/* .section-2 {
    position: absolute;
    width: 100%;
    height: 954px;
    left: 0px;
    top: 800px;
}

.mask {
    position: relative;
    height: 954px;
    left: 0px;
}

.bg-section-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: radial-gradient(137.92% 855.96% at 100% -10.3%, rgba(53, 53, 144, 0.9) 0%, rgba(7, 7, 67, 0.87) 44.27%, #070743 99.56%);
}

.bg-section-2 P {
    position: absolute;
    left: 666px;
    top: 80px;
    color: #8989DD;
    font-size: 14px;
    line-height: 24px;
}

.title-section-2 {
    position: absolute;
    width: 510px;
    height: 64px;
    left: 460px;
    top: 124px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.Image-section-2 {
    position: absolute;
    right: 0px;
    top: 290px;
}

.service-list {
    position: absolute;
    left: 211px;
    top: 268px;
    color: #ADB5BD;
    list-style-type: decimal-leading-zero;
    font-size: 24px;
    line-height: 32px;
}

.service-list li {
    padding-left: 49px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.service-list li:hover {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: #FFFFFF;
}

.products {
    display: flex;
}

.products p {
    padding-right: 10px;
}

.product {
    position: relative;
    top: 5px;
    width: 71px;
    height: 28px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    background: #6363BC;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
}

.section-3 {
    position: absolute;
    top: 1830px;
    height: 968px;
    background: #FFFFFF;
}

.section-3 p {
    position: absolute;
    top: 30px;
    left: 666px;
    text-align: center;
    width: 112px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353590;
}

.content-section-3 {
    position: absolute;
    width: 704px;
    height: 96px;
    left: 370px;
    top: 80px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #040312 !important;
}

.numbers {
    padding-top: 250px;
    padding-left: 150px;
    padding-right: 150px;
}

.items {
    display: flex;
}

.number {
    width: 25%;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    color: #353590;
    padding-bottom: 20px;
}

.items1 {
    position: relative;
    padding-left: 275px;
}

.n-1 {
    padding-left: 44px;
}

.item2 {
    padding-left: 160px;
}

.n-2 {
    padding-left: 25px;
}

.item3 {
    padding-left: 160px;
}

.n-3 {
    padding-left: 20px;
}

.item4 {
    padding-left: 170px;
}

.n-4 {
    padding-left: 15px;
}

.content-number {
    color: #343A40;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.allnote {
    padding-top: 46px;
    padding-left: 330px;
}

.Group-12 {
    display: flex;
    position: absolute;
    width: 186px;
    height: 56px;
    left: 1063px;
    top: 620px;
}

.Ellipse-5 {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background: #B6B6F3;
}

.Group-12 h5 {
    position: absolute;
    width: 150px;
    height: 24px;
    top: 16px;
    left: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353590;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.Group-12 p {
    position: absolute;
    left: 123px;
    top: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #353590;
} */

/* section 4 */

.product {
    z-index: 2;
    position: relative;
}

.anhso {
    position: absolute;
    width: 720px;
    height: 354.19px;
    left: 820px;
    top: 290px;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(137.92% 855.96% at 100% -10.3%, rgba(53, 53, 144, 0.9) 0%, rgba(7, 7, 67, 0.87) 44.27%, #070743 99.56%);
}

.product-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-header p {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding-top: 80px;
    color: var(--color-3rd);
}

.product-header h3 {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 20px;
}

.product-list {
    width: 100%;
    color: #ADB5BD;
    font-family: 'Gilroy-Regular';
    font-size: 24px;
}

.sevices_product .product-list tr td:first-child {
    width: 5%;
}

.sevices_product .product-list tr td {
    padding: 10px 0;
}

.sevices_product .product-list tr span {
    padding-left: 10px;
}

.sevices_product .product-list tr.active span {
    font-size: 33px;
    font-family: 'Gilroy-Black';
    padding-right: 30px;
    color: #FFFFFF;
    font-weight: bold;
    border-left: 3px solid #FFFFFF;
}

.sevices_product .product-list tr.active p {
    font-family: 'Gilroy-Black';
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sevices_product .product-list tr span.tag {
    position: absolute;
    background: var(--color-2nd);
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 18px;
}

.product-list li .action {
    font-family: 'Gilroy-Black';
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* end section  */

.about {
    position: relative;
    height: 1000px;
}

.about-header p {
    padding-top: 80px;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-1st)
}

.about-header h2 {
    margin: 20px auto;
    font-family: 'Gilroy-Bold';
    width: 652px;
    height: 96px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #040312;
}

.section_about .about-list h3 {
    font-family: 'Gilroy-Black';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: var(--color-1st);
}

.section_about .about-list p {
    font-family: 'Gilroy-Medium';
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #343A40;
}

.about-more {
    position: absolute;
    right: 219px;
    bottom: 256px;
}

/* button  */

.btn {
    font-family: 'Gilroy-SemiBold';
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-1st);
    position: relative;
    border: none;
    background: transparent;
}

.btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: var(--color-4th);
    top: 0;
    left: 0;
    color: var(--color-1st)
}

.btn:hover::before {
    background: black;
    width: 100%;
}

.btn.rounded {
    border-radius: 50%;
    position: relative;
}

.btn.rounded span {
    position: relative;
    z-index: 1;
}

.btn.rounded .text-green {
    color: #353590;
}

.btn.rounded::before {
    border-radius: 50px;
    position: absolute;
    background: #B6B6F3;
    top: -4px;
}

.btn.rounded:hover::before {
    background: var(--color-4th);
    width: 100%;
}