.header-menu{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-menu a , .header-menu  p , .header-menu i {
    color : #FFFFFF;
}
.header-menu img {
    transform: translate(-15px);
}
.header-menu .language {
    transform: translate(15px);
}
#hero{
    background-image: url('../images/tech_screen/header_bg.png');
    background-size: 100% ;
	background-position: top center;
	position: relative;
	z-index: 1;
    height:480px;
}
#hero::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #353590;
    opacity: 0.4;
	z-index: -1;
}

.hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
}
.hero h2 {
    font-family: 'Gilroy-Black';
    display: block;
    padding-top:216px;
    top:216px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.hero span {
    color : #353590;
}
.hero p {
    padding-top:20px;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.focus.container .row .col-12 .title {
    padding: 80px 0 40px 0;
}
.focus.container .row .col-12 .title h1{
    text-align: center;
    font-size: 36px;
    font-family: Gilroy-Black;
    line-height: 1.5;
}
.focus.container .row .col-12 .title h1 span{
    color: #353590;
}
.focus.container .row .col-12 .info p{
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 16px;
}
.main_content.container{
    padding-bottom: 80px;
}
.main_content.container .row{
    margin-top: 70px;
}
.main_content.container .row .col-6 .ver_tab_mini{
    width: 100%;
    border: 1px solid #DEE2E6;
    border-bottom: none ;
    display: flex;
    height: 272px;
    align-items: center; 
}
.main_content.container .row .col-6 .ver_tab_mini svg{
    margin: 0 20px 0 50px;
}
.main_content.container .row .col-6 .ver_tab_mini h1{
    font-family: Gilroy-Black;
    font-size: 24px;
}
.main_content.container .row .col-6 .active{
    height: 272px;
    border: 1px solid #DEE2E6;
}
.main_content.container .row .col-6 .active .title_top{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.main_content.container .row .col-6 .active .title_top svg{
    margin: 0 20px 0 50px;
}
.main_content.container .row .col-6 .active .title_top h1{
    font-family: Gilroy-Black;
    font-size: 24px;
}
.main_content.container .row .col-6 .active .mini_infor {
    font-family: Gilroy-Medium;
    margin: 0 40px 0 50px;
    line-height: 28px;
}
.main_content.container .row .col-6 .active p{
    font-size: 16px;
}
.main_content.container .row .col-6 .active a{
    color: #353590;
}
.main_content.container .row .col-6{
    padding: 0;
}
.main_content.container .row .col-6 .top_left_content .title{
    padding: 50px 0 40px 0;
}
.main_content.container .row .col-6 .top_left_content .title h1{
    font-family: Gilroy-Black;
    font-size: 24px;
    line-height: 32px;
}
.main_content.container .row .col-6 .top_left_content p{
    font-family: Gilroy-Medium;
    line-height: 28px;
    margin:0 75px 20px 0 ;
    font-size: 16px;
}
.main_content.container .row .col-6 .bot_left_content{
    margin: 50px 0 70px 0;
}
.main_content.container .row .col-6 .bot_left_content .row .botminl{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main_content.container .row .col-6 .bot_left_content .row .botminr{
    display: flex;
    align-items: center;
}
.main_content.container .row .col-6 .bot_left_content .row .botminr img{
    height: 50%;
}
#bot{
    border-bottom: 1px solid #DEE2E6;
}
.big_mid{
    background-color: #F8F9FA;
}
.midtitle.container{
    padding: 120px 0;
}
.midtitle.container .row .col-12 h1, .midtitle2.container .row .col-12 h1{
    text-align: center;
    font-size: 36px;
    font-family: Gilroy-Black;
    line-height: 1.5;
}
.midtitle.container .row .col-12 p{
    font-family: Gilroy-Medium;
    text-align: center;
    margin-top:40px ;
}
.midtitle.container .row .col-12 p span{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 24px;

}
.midtitle2.container .row .col-12 p{
    font-family: Gilroy-Medium;
    text-align: center;
    margin:80px 0 20px 0 ;
    font-size: 14;
}
.midtitle2.container .row .col-4{
    border: hotpink solid;
}
.container.tech .row .col-12 p{
    font-family: Gilroy-Medium;
    text-align: center;
    margin:80px 0 20px 0 ;
    font-size: 14;
    text-transform: uppercase;
    color: #8989DD;
}
.container.tech .row .col-12 h1{
    text-align: center;
    font-size: 36px;
    font-family: Gilroy-Black;
    line-height: 1.5;
}
.container.tech .row .listbrand {
    padding: 70px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container.tech .row .listbrand img{
    width: 100px;
    height: fit-content;
}
.container.big_mid2 .row .col-12 #top {
    font-family: Gilroy-Medium;
    text-align: center;
    margin:80px 0 40px 0 ;
    font-size: 14;
    text-transform: uppercase;
    color: #8989DD;
}
.container.big_mid2 .row .col-12 h1{
    text-align: center;
    font-size: 36px;
    font-family: Gilroy-Black;
    padding: 10px 0 50px 0;
    color: #FFFFFF;
}
.container.big_mid2 .row .col-12 p{
    font-family: Gilroy-Regular;
    text-align: center;
    font-size: 14;
    color: #FFFFFF;
    line-height: 1.5;
}
.bigmid2{
    background: url("/assets/images/tech_screen/bgmid2.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container.big_mid2 .row .col-12.study-more{
    margin: 50px 0 80px 0;
    text-align: center;
}

/* section study */
.section_study1 .container .row .col-12 .case_study{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: black;
    margin-top: 80px;
}
.section_study1 .container .row .col-12 .desc1 {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 80px;
    color: black;
}
.study-box-title1{
    padding-top: 20px;
    cursor: pointer;
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 32px;
    color:  #212529;
}
.study_info1 .category {
    display: flex;
    font-family: 'Gilroy-Regular';
    padding: 20px 0;
    color: #868E96;
}
.study_info1 .category li {
    padding-right: 10px;
}
.study_info1 .desc {
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 28px;
}
.section_study1 .study-box {
    transition: transform 0.45s ease-in-out;
}
.section_study1 h3 {
    padding-bottom: 120px;
}
.section_study1 .study-more {
    text-align: center;
    margin-top: 50px;
}
#btndrop{
    display: flex;
    justify-content: center;
}
.section_study1 .container .row .more{
    margin: 80px 0 120px 0;
}
.container.top_content .row{
    padding: 100px 30px 80px 0;
}
.container.top_content .row .col-5.top h1 {
    font-size: 36px;
    font-family: Gilroy-Black;
    line-height: 1.5;
}
.container.top_content .row .col-7.top p{
    font-family: Gilroy-Regular;
    font-size: 16;
    line-height: 1.5;
    padding: 0 50px 30px 0;
}
.container.top_content .row .col-5.mid h1{
    font-size: 36px;
    font-family: Gilroy-Black;
    line-height: 1.5;
    padding: 0 0 40px 0;
}
.container.top_content .row .col-5.mid p{
    font-family: Gilroy-Regular;
    font-size: 16;
    line-height: 1.5;
    padding: 0 20px 30px 0;
}
.container.top_content .row .col-5.mid .more{
    margin:80px 0 ;
}
.container.top_content .row .col-7.mid img {
    width: 100%;
}
.container.top_content .row .col-7.bot ul {
    display: flex;
    flex-wrap: wrap;
}

.container.top_content .row .col-7.bot ul li{
    width: 50%;
}
.container.top_content .row .col-7.bot ul li img{
    width: 64px;
    height: 64px;
    margin-bottom:20px ;
}
.container.top_content .row .col-7.bot ul li h1{
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    line-height: 24px;
}
.container.top_content .row .col-7.bot ul li p{
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 24px;
    padding: 20px 0 60px 0;
}
.container.mid_content {
    padding: 70px;
}
.container.mid_content .row .col-6 h1{
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 36px;
    margin-top: 20px;
}
.inven{
    color: #6363BC;
}
.container.mid_content .row {
    padding: 30px 0 ;
}
.container.mid_content .row .col-6 .mini {
    padding: 20px 0 30px 0 ;
}
.container.mid_content .row .col-6 .mini a{
    padding-right: 20px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    color: #868E96;
    line-height: 24px;
}
.container.mid_content .row .col-6 p ,.container.js_content .row .col-6 p{
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    padding-right: 50px;
}
.container.js_content{
    padding: 120px 0;
}
.container.js_content .row .col-6 .jsmini{
    font-family: Gilroy-Black;
    font-size: 36px;
    line-height: 36px;
    margin: 40px 0 ;
}
.container.js_content .row .col-6 .jsmini1{
    padding : 0 120px 40px 0;
}
.container.js_content .row .col-6 .item{
    border-bottom: 1px #DEE2E6 solid;
}
.container.js_content .row .col-6 .item .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.container.js_content .row .col-6 .item img{
    width: 19px;
    cursor: pointer;
}
.container.js_content .row .col-6 .item .title{
    font-family: Gilroy-SemiBold;
font-size: 24px;
line-height: 32px;
}
.container.js_content .row .col-6 .item .btn1.active{
    transform: rotate(45deg);
}
.container.js_content .row .col-6 .item .para {
    padding-bottom: 40px;
}
.container.tech {
    padding: 0 0 120px 0;
}
.container.tech .row .col-4 >p {
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 24px;
    padding: 80px 0 40px 0;
}
.container.tech .row .col-4 .info {
    display: flex;
    align-items: center;
}
.container.tech .row .col-4 .info img{
    width: 48px;
    margin-right: 10px;
}
.container.tech .row .col-4 .info .miniinfo h1{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 24px;
}
.container.tech .row .col-4 .info .miniinfo p{
    font-family: Gilroy-Medium;
    font-size: 12px;
    line-height: 16px;
    color: #495057;
}

/* footer css  */
footer{
    padding: 80px 0;
}
footer .container .row .col-12 h1{
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
}
footer .container .row .col-12 p{
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
    color: #343A40;
}
footer .container .row .col-3{
    margin: 70px 0 10px 0;
}
footer .container .row .col-3 h1{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
    padding: 10px 0;
}
footer .container .row .col-3 p{
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}
.space p{
    padding: 0 50px 10px 0;
}
.small{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right_footer p{
    padding: 10px 0 10px 0;
}
#iconfooter{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #6363BC 0%, #8989DD 100%);
    border-radius: 6px;
    padding: 6px 10px;
    color: white;
    }
#iconfooter img{
    width: 16px;
    margin-left: 10px;
}